*.zip
*.log

# Build
dist
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Windows
Thumbs.db

## OS X
.DS_Store
._*
.Spotlight-V100
.Trashes